<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>platformid</key>
		<integer>5</integer>
		<key>name</key>
		<string>全民</string>
		<key>bannerpic</key>
		<string>quanmin</string>
		<key>categories</key>
		<array>
			<dict>
				<key>name</key>
				<string>DOTA2</string>
				<key>icon</key>
				<string>dota2</string>
				<key>gameId</key>
				<string>dota2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>英雄联盟</string>
				<key>icon</key>
				<string>leaguelegends</string>
				<key>gameId</key>
				<string>lol</string>
			</dict>
			<dict>
				<key>name</key>
				<string>炉石传说</string>
				<key>icon</key>
				<string>stone</string>
				<key>gameId</key>
				<string>heartstone</string>
			</dict>
			<dict>
				<key>name</key>
				<string>守望先锋</string>
				<key>icon</key>
				<string>SWXF</string>
				<key>gameId</key>
				<string>overwatch</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CSGO</string>
				<key>icon</key>
				<string>csgo</string>
				<key>gameId</key>
				<string>nizhan</string>
			</dict>
			<dict>
				<key>name</key>
				<string>王者荣耀</string>
				<key>icon</key>
				<string>WARY</string>
				<key>gameId</key>
				<string>wangzhe</string>
			</dict>
			<dict>
				<key>name</key>
				<string>穿越火线</string>
				<key>icon</key>
				<string>crossfire</string>
				<key>gameId</key>
				<string>cfpc</string>
			</dict>
			<dict>
				<key>name</key>
				<string>魔兽世界</string>
				<key>icon</key>
				<string>WW</string>
				<key>gameId</key>
				<string>blizzard</string>
			</dict>
			<dict>
				<key>name</key>
				<string>其它</string>
				<key>icon</key>
				<string>others</string>
				<key>gameId</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>platformid</key>
		<integer>3</integer>
		<key>name</key>
		<string>熊猫</string>
		<key>bannerpic</key>
		<string>panda</string>
		<key>categories</key>
		<array>
			<dict>
				<key>name</key>
				<string>DOTA2</string>
				<key>icon</key>
				<string>dota2</string>
				<key>gameId</key>
				<string>dota2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>英雄联盟</string>
				<key>icon</key>
				<string>leaguelegends</string>
				<key>gameId</key>
				<string>lol</string>
			</dict>
			<dict>
				<key>name</key>
				<string>炉石传说</string>
				<key>icon</key>
				<string>stone</string>
				<key>gameId</key>
				<string>hearthstone</string>
			</dict>
			<dict>
				<key>name</key>
				<string>守望先锋</string>
				<key>icon</key>
				<string>SWXF</string>
				<key>gameId</key>
				<string>overwatch</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CSGO</string>
				<key>icon</key>
				<string>csgo</string>
				<key>gameId</key>
				<string>csgo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>王者荣耀</string>
				<key>icon</key>
				<string>WARY</string>
				<key>gameId</key>
				<string>kingglory</string>
			</dict>
			<dict>
				<key>name</key>
				<string>穿越火线</string>
				<key>icon</key>
				<string>crossfire</string>
				<key>gameId</key>
				<string>cf</string>
			</dict>
			<dict>
				<key>name</key>
				<string>魔兽世界</string>
				<key>icon</key>
				<string>WW</string>
				<key>gameId</key>
				<string>wow</string>
			</dict>
			<dict>
				<key>name</key>
				<string>其它</string>
				<key>icon</key>
				<string>others</string>
				<key>gameId</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>platformid</key>
		<integer>2</integer>
		<key>name</key>
		<string>战旗</string>
		<key>bannerpic</key>
		<string>zhanqi</string>
		<key>categories</key>
		<array>
			<dict>
				<key>name</key>
				<string>DOTA2</string>
				<key>icon</key>
				<string>dota2</string>
				<key>gameId</key>
				<string>10</string>
			</dict>
			<dict>
				<key>name</key>
				<string>英雄联盟</string>
				<key>icon</key>
				<string>leaguelegends</string>
				<key>gameId</key>
				<string>6</string>
			</dict>
			<dict>
				<key>name</key>
				<string>炉石传说</string>
				<key>icon</key>
				<string>stone</string>
				<key>gameId</key>
				<string>9</string>
			</dict>
			<dict>
				<key>name</key>
				<string>守望先锋</string>
				<key>icon</key>
				<string>SWXF</string>
				<key>gameId</key>
				<string>82</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CSGO</string>
				<key>icon</key>
				<string>csgo</string>
				<key>gameId</key>
				<string>119</string>
			</dict>
			<dict>
				<key>name</key>
				<string>王者荣耀</string>
				<key>icon</key>
				<string>WARY</string>
				<key>gameId</key>
				<string>115</string>
			</dict>
			<dict>
				<key>name</key>
				<string>穿越火线</string>
				<key>icon</key>
				<string>crossfire</string>
				<key>gameId</key>
				<string>120</string>
			</dict>
			<dict>
				<key>name</key>
				<string>魔兽世界</string>
				<key>icon</key>
				<string>WW</string>
				<key>gameId</key>
				<string>8</string>
			</dict>
			<dict>
				<key>name</key>
				<string>其它</string>
				<key>icon</key>
				<string>others</string>
				<key>gameId</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
